.movie-banner {
  display: grid;
  height: 400px;
}

.absolute {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backdrop::before {
  background-image: linear-gradient(
      90deg,
      #202020 0,
      rgba(20, 24, 29, 0.986) 0.97%,
      rgba(20, 24, 29, 0.945) 2.07833333%,
      rgba(20, 24, 29, 0.883) 3.29666667%,
      rgba(20, 24, 29, 0.803) 4.60166667%,
      rgba(20, 24, 29, 0.711) 5.96666667%,
      rgba(20, 24, 29, 0.61) 7.365%,
      rgba(20, 24, 29, 0.504) 8.77166667%,
      rgba(20, 24, 29, 0.398) 10.16%,
      rgba(20, 24, 29, 0.296) 11.505%,
      rgba(20, 24, 29, 0.203) 12.78%,
      rgba(20, 24, 29, 0.122) 13.95833333%,
      rgba(20, 24, 29, 0.059) 15.01666667%,
      rgba(20, 24, 29, 0.016) 15.92833333%,
      rgba(20, 24, 29, 0) 16.66666667%,
      rgba(20, 24, 29, 0) 83.33333333%,
      rgba(20, 24, 29, 0.016) 84.07166667%,
      rgba(20, 24, 29, 0.059) 84.98333333%,
      rgba(20, 24, 29, 0.122) 86.04166667%,
      rgba(20, 24, 29, 0.203) 87.22%,
      rgba(20, 24, 29, 0.296) 88.495%,
      rgba(20, 24, 29, 0.398) 89.84%,
      rgba(20, 24, 29, 0.504) 91.22833333%,
      rgba(20, 24, 29, 0.61) 92.635%,
      rgba(20, 24, 29, 0.711) 94.03333333%,
      rgba(20, 24, 29, 0.803) 95.39833333%,
      rgba(20, 24, 29, 0.883) 96.70333333%,
      rgba(20, 24, 29, 0.945) 97.92166667%,
      rgba(20, 24, 29, 0.986) 99.03%,
      #202020
    ),
    linear-gradient(
      0deg,
      #202020 0,
      #202020 11.48148148%,
      rgba(20, 24, 29, 0.986) 23.63703704%,
      rgba(20, 24, 29, 0.945) 26.1%,
      rgba(20, 24, 29, 0.883) 28.80740741%,
      rgba(20, 24, 29, 0.803) 31.70740741%,
      rgba(20, 24, 29, 0.711) 34.74074074%,
      rgba(20, 24, 29, 0.61) 37.84814815%,
      rgba(20, 24, 29, 0.504) 40.97407407%,
      rgba(20, 24, 29, 0.398) 44.05925926%,
      rgba(20, 24, 29, 0.296) 47.04814815%,
      rgba(20, 24, 29, 0.203) 49.88148148%,
      rgba(20, 24, 29, 0.122) 52.5%,
      rgba(20, 24, 29, 0.059) 54.85185185%,
      rgba(20, 24, 29, 0.016) 56.87777778%,
      rgba(20, 24, 29, 0) 58.51851852%
    );
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 450px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 70px;
  transform: translateX(-50%);
  width: 100%;
  z-index: 0;
}

.movie-info-container {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin: auto;
  padding: 50px;
  margin-top: -80px;
}

.movie-poster {
  width: 30%;
}

.movie-poster img {
  width: 230px;
  height: 345px;
  flex-shrink: 0;
  border-radius: 5px;
  background-size: cover;
}

.movie-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  text-align: left;
  margin-top: -20px;
}

.movie-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-shadow: #000 2px 0 5px;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.2;
  overflow-wrap: break-word;
}

.movie-release_date {
  margin-top: -28px;
}
.movie-length {
  margin-top: -28px;
}
.movie-synopsis {
  margin-top: -5px;
}

.movie-genres {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: -15px;
}
.movie-genres p {
  display: inline-block;
  background-color: #283038;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.05);
  line-height: 1.5;
  padding: 3px 6px;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .movie-banner {
    height: 200px;
  }
  .movie-info-container {
    flex-direction: row-reverse;
  }
  .movie-poster img {
    width: 100px;
    height: 150px;
  }
  .movie-info {
    margin-top: 0px;
    margin-right: -100px;
  }
  .movie-title {
    font-size: 20px;
    max-width: 200px;
  }

  .movie-release_date {
    margin-top: -30px;
    font-size: 15px;
  }
  .movie-length {
    margin-top: -25px;
    font-size: 15px;
  }

  .movie-synopsis {
    margin-top: 10px;
    width: 300px;
  }

  .movie-genres {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: -15px;
  }
}
