.App {
  text-align: center;
}

li > a {
  text-decoration: none;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: #e34051;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #e32c3f;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #e32c3f;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  header .site-logo {
    font-weight: 800;
    font-size: 20px;
  }
}
